.cursos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 20%;

  h2 {
    font-size: 2rem;
    border-bottom: 1px solid var(--primary-title-color);
    margin-bottom: 4rem;
    color: var(--primary-title-color);
  }

  .cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    margin-bottom: 8rem;
  }
}

@media (max-width: 1200px) {
  .cursos-container {
    padding-inline: 15%;

    h2 {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 1024px) {
  .cursos-container {
    padding-inline: 10%;

    h2 {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 900px) {
  .cursos-container {
    padding-inline: 15%;

    h2 {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 800px) {
  .cursos-container {
    padding-inline: 10%;

    h2 {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 600px) {
  .cursos-container {
    padding-inline: 5%;

    h2 {
      font-size: 1.2rem;
    }
  }
}
