.item-container {
    transition: backdrop-filter .2s;
    width: 100%;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    padding-block: 1.5rem;
    gap: 1rem;
    cursor: pointer;
    border-bottom: 1px solid #d3d3ed20;
}

.item-container:hover {
    backdrop-filter: brightness(.8);
}

.selected {
    backdrop-filter: brightness(1.5);
}

.item-info {
    display: flex;
    flex-direction: column;
}

.title {
    color: #eaeeff;
    font-size: 1.8rem;
    font-weight: 500;
}

.duration {
    color: #9d9dba;
    font-size: 1.2rem;
}

.play-icon {
    width: 40px;
    height: 40px;
    color: #dbe5ff;
}

.lamp-icon {
    width: 45px;
    height: 45px;
    color: #dbe5ff;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 1.1rem;
    }

    .duration {
        font-size: .8rem;
    }

    .play-icon {
        width: 35px;
        height: 35px;
        color: #dbe5ff;
    }
    
    .lamp-icon {
        width: 40px;
        height: 40px;
        color: #dbe5ff;
    }
}