/* BANNER */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100dvh - 100px);
  padding: 0 5%;
  gap: 0.625rem;
}

.banner .text-banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.banner .text-banner h2 {
  font-size: 3.5rem;
  color: var(--primary-title-color);
}

.banner .text-banner p {
  font-size: 1.4rem;
  color: var(--desc-primary-color);
}

.banner .text-banner a {
  background-color: var(--primary-text-color);
  padding: 1.25rem 3rem;
  width: fit-content;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--primary-title-color);
  border-radius: 5px;
  transition: all 0.2s;
}

.banner .text-banner a:hover {
  background-color: var(--primary-title-color);
  color: var(--primary-text-color);
}

.banner .image-wallpaper {
  width: 45%;
  padding: 2.5rem;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;

  transition: background-color 0.3s;
}

.banner .image-wallpaper:hover {
  background-color: var(--primary-title-color);
}

.banner .image-wallpaper img {
  width: 100%;
  border-radius: 2rem;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
}

/* screen width < 1400 */

@media screen and (max-width: 1200px) {
  .banner {
    flex-wrap: wrap-reverse;
    justify-content: center;
    width: 100%;
    height: calc(100dvh + 100px);
  }
  
  .banner .text-banner {
    transform: translate(0, -5rem);
    padding-bottom: 2rem;
    text-align: center;
    align-items: center;
  }

  .banner .text-banner h2 {
    font-size: 2.5rem;
  }

  .banner .text-banner a {
    width: 80%;
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .banner .image-wallpaper {
    z-index: -1;
    transform: translate(0, 4rem);
    width: 55%;
    padding: 0;
  }

  .banner .image-wallpaper:hover {
    background-color: transparent;
  }
}

/* screen width < 1000px */

@media screen and (max-width: 1000px) {
  .banner .image-wallpaper {
    width: 70%;
    transform: translate(0, 5.5rem);
  }
}

/* screen width < 900px */

@media screen and (max-width: 900px) {
  .banner .image-wallpaper {
    width: 70%;
    transform: translate(0, 3rem);
  }
}

/* screen width < 750px */

@media screen and (max-width: 750px) {
  .banner .image-wallpaper {
    transform: translate(0, 2rem);
  }
}

/* screen width < 700px */

@media screen and (max-width: 700px) {
  .banner {
    width: 100%;
  }

  .banner .image-wallpaper {
    width: 80%;
  }

  .banner .text-banner {
    display: flex;
  }

  .banner .text-banner h2 {
    font-size: 2rem;
  }

  .banner .text-banner p {
    font-size: 1rem;
  }

  .banner .text-banner a {
    font-size: 0.9rem;
    padding: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .banner .text-banner {
    /* transform: translate(0, -4rem); */
    gap: 1rem;
  }

  .banner .text-banner h2 {
    font-size: 1.4rem;
  }

  .banner .text-banner p {
    font-size: 0.9rem;
  }

  .banner .text-banner a {
    font-size: 0.9rem;
    padding: 0.8rem;
  }
}